.App {
  text-align: center;
  margin-top: 100px;
}

.App > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App > div> div{
  margin: 10px;
}
.App button {
  margin: 10px;
  padding: 5px 10px;
}
.default_0, .default_1, .default_2{
  border: 1px solid;
  background: rgb(222, 222, 222);
  width: 30px;
  height: 30px;
}
.default_1{
  background: rgb(241, 100, 100);
}
.default_2{
  background: rgb(100, 241, 135);
}