.App {
  margin: 100px auto;
  width: 450px;
  height: 440px;
  padding-top: 10px;
  background: #685e5e;
  border-radius: 8px;
  box-shadow: 0 0 10px grey;
}
.App > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App > div> div{
  margin: 10px;
}
.App button {
  margin: 10px;
  width: 50px;
  height: 50px;
}
.default_0, .default_1, .default_2{
  background: rgb(241 241 241);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.default_1{
  background: rgb(241, 100, 100);
}
.default_2{
  background: rgb(100, 241, 135);
}